<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Playlists</title>
</head>
<body>
<a href="/all_songs"> View All Songs</a> <br>
<a href="/create_playlist">Create a New Playlist</a> <br>
<a href="/shared_playlists">View Public Playlists</a> <br>
<a href="/my_playlists">View My Playlists</a> <br><a href="/logout">Logout </a> <br> <br>
{% block msgblock %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endblock %}
<br> <br>
{% if sz %}
You have no Playlists!! Click on the option above to create one now!
{% else %}
Your Playlists: <br>
{% for p in playlists %}
 <br>
Name of Playlist : {{ p.name }}  <br>
Nature : {% if p.shareable %} Public {% else %} Private {% endif %} <br>
<a href="/playlist/{{ p.id }}">View Playlist</a> <br>
<a href="/edit_playlist/{{ p.id }}">Edit Playlist</a> <br>
<a href="/delete_playlist/{{ p.id }}">Delete Playlist</a>
<br>
{% endfor %}
{% endif %}
</body>
</html>