<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist - List of all Songs!</title>
    <script>
        function vote(id,val){
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() {
             if (xhttp.readyState == 4 && xhttp.status == 200) {
             document.getElementById(id).innerHTML = xhttp.responseText;
             if(val=="1" || val=="2")
             { document.getElementById('upvote'+id).disabled=true;
             document.getElementById('downvote'+id).disabled=true;
              document.getElementById('cancel'+id).disabled=false;}
             else {
             document.getElementById('upvote'+id).disabled=false;
             document.getElementById('downvote'+id).disabled=false;
             document.getElementById('cancel'+id).disabled=true;
             }
    }
  };
  xhttp.open("GET", "/upvote?id=" + id + "&val=" + val , true);
  xhttp.send();

        }
    </script>
</head>
<body>
Hello {{ member.name }}
You can upload a song here -
<br>
<form method="post" name="form" enctype = "multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fi" accept=".mp3">
    <!--{{ form }}-->
    <input type="submit">
</form>
<br>
<a href="/all_songs"> View All Songs</a> <br>
<a href="/create_playlist">Create a New Playlist</a> <br>
<a href="/shared_playlists">View Public Playlists</a> <br>
<a href="/my_playlists">View My Playlists</a> <br><a href="logout">Logout </a> <br> <br>

<br>
Or take a look at the songs that are already uploaded -
{% for s,v in songs %}
<br>
<audio controls>
<source src="{{ s.file.url }}" type="audio/mp3">
</audio>
    {{ s.name }}
<br>
Score ( Upvotes - Downvotes ) : <p id="{{ s.id }}">{{ s.votes }}</p> <br>
<button id="upvote{{ s.id }}" onclick="vote({{ s.id }},1)" {% if v %} disabled {% endif %}>Upvote</button>
<button id="downvote{{ s.id }}" onclick="vote({{ s.id }},2)" {% if v %} disabled {% endif %}>Downvote</button>
<button id="cancel{{ s.id }}" onclick="vote({{ s.id }},3)" {% if not v %} disabled {% endif %}>Cancel Previous Vote</button>
<br>
{% endfor %}
<br>
</body>
</html>