<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shared Playlists</title>
</head>
<body>

<a href="/all_songs"> View All Songs</a> <br>
<a href="/create_playlist">Create a New Playlist</a> <br>
<a href="/shared_playlists">View Public Playlists</a> <br>
<a href="/my_playlists">View My Playlists</a> <br><a href="logout">Logout </a> <br> <br>

All Public Playlists : <br>
{% for p,s in playlists %} <br> <br>
Name of Playlist : {{ p.name }} <br> <br>
Shared by : {{ s }} <br>
<a href="/playlist/{{ p.id }}">View Playlist</a>
<button onclick="">Clone Playlist</button>
{% endfor %}
</body>
</html>