<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Playlist</title>
</head>
<body>

<br>
<a href="/all_songs"> View All Songs</a> <br>
<a href="/create_playlist">Create a New Playlist</a> <br>
<a href="/shared_playlists">View Public Playlists</a> <br>
<a href="/my_playlists">View My Playlists</a> <br><a href="/logout">Logout </a> <br> <br>

<br>
{% block msgblock %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endblock %}
<br>
{% if val %}
<a href="/edit_playlist/{{ id }}">Edit Your Playlist</a>
{% endif %}
<br><br> Name of the playlist is : {{ name }} <br>
{% for s in songs %}
<br>
<audio controls>
<source src="{{ s.file.url }}" type="audio/mp3">
</audio>
    {{ s.name }}
<br>
{% endfor %}
<br>

</body>
</html>